[user]
    email = coriolis@lse.epita.fr
    name = Matthieu Tardy
[core]
    editor = vim
[push]
    default = simple
[alias]
    pr = pull --rebase
    co = checkout
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    rb = rebase
    ps = push
    ap = add -p
    cm = commit -m
    st = status
    can = commit --amend --no-edit
[color]
    ui = auto
